# SETS

#### A set is an unordered collection data type that is iterable,mutable and has no duplicate elements python class represents a mathematical notion of set. this is based on data structure know as hash table

In [2]:
#defining an empty set

set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [13]:
set_var={1,2,3,4,3} #duplicate elements does not print in the output

In [4]:
set_var

{1, 2, 3, 4}

In [18]:
set_var={'Avengers','IronMan','Hitman'}
type(set_var)

set

###                                 Remember: Set does not supporting indexing

In [3]:
set_var={1,2,3,4,5}
print(set_var)
type(set_var)

{1, 2, 3, 4, 5}

set

In [4]:
# Inbuilt functions in sets
set_var.add("Hulk")
print(set_var)

{1, 2, 3, 4, 5, 'Hulk'}

In [5]:
set_var={'Avengers','IronMan','Hitman'}
print(set_var)

{'Hitman', 'Avengers', 'IronMan'}

In [2]:
set1={'Avengers','IronMan','Hitman'}
set2={'Avengers','IronMan','Hitman','Hulk'}

In [3]:
print(set2)

{'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [4]:
print(set1)

{'Avengers', 'Hitman', 'IronMan'}

In [2]:
set1={'Avengers','IronMan','Hitman'}
set2={'Avengers','IronMan','Hitman','Hulk'}

In [3]:
print(set1)

{'IronMan', 'Avengers', 'Hitman'}

In [4]:
#intersection                   ##common elements will display from two sets
set2.intersection(set1)

{'Avengers', 'Hitman', 'IronMan'}

In [6]:
#Differnce
set2.difference(set1)

{'Hulk'}

In [8]:
#Differnce_update
set2.difference_update(set1)

In [9]:
print(set2)

{'Hulk'}

# Dictionaries

#### A dictionary is collection which is unordered,changeable and Indexed. In python dictionaries are written with curly brackets and they have keys and values.

In [13]:
dic={}

In [14]:
type(dic)

dict

In [15]:
dic={1,2,3,4,5}

In [17]:
type(dic)

dict

In [18]:
# Let create dictionary
my_dict={"car1": "BMW","car2": "Audi","car3": "Mercidies Benz"}

In [19]:
print(my_dict)

{'car1': 'BMW', 'car2': 'Audi', 'car3': 'Mercidies Benz'}

In [21]:
type(my_dict)

dict

In [24]:
# Acess the item values based on keys
my_dict['car3']

'Mercidies Benz'

In [29]:
## we can even loop throught the dictionary keys

for x in my_dict:
    print(x)

car1
car2
car3

In [31]:
## we can even loop throught the dictionary values

for x in my_dict.values():
    print(x)

BMW
Audi
Mercidies Benz

In [32]:
## we can also check both keys and values

for x in my_dict.items():
    print(x)

('car1', 'BMW')
('car2', 'Audi')
('car3', 'Mercidies Benz')

In [41]:
## adding items in dictionary

my_dict['car4']='Audi 2.0'

In [42]:
my_dict

{'car1': 'BMW', 'car2': 'Audi', 'car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [47]:
my_dict['car1']='Maruthi'      ## replacing car1 value bmw into maruthi

In [48]:
my_dict

{'car1': 'Maruthi',
 'car2': 'Audi',
 'car3': 'Mercidies Benz',
 'car4': 'Audi 2.0'}

# Nested Dictionary

In [50]:
car1_model={'mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassdor':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [51]:
print(car_type)

{'car1': {'mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassdor': 1980}}

In [ ]:
## Accessing the items in the dictionary

In [54]:
print(car_type['car1'])

{'mercedes': 1960}

In [56]:
print(car_type['car1']['mercedes'])

1960

# Tuples

In [57]:
#create an empty tuples

my_tuple=tuple()

In [58]:
type(my_tuple)

tuple

In [59]:
my_tuple=()

In [60]:
type(my_tuple)

tuple

In [61]:
my_tuple=('sush','sony','vinay')

In [62]:
my_tuple[0]

'sush'

In [63]:
my_tuple[2]

'vinay'

In [67]:
my_tuple=("hello", "world")

In [68]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('hello', 'world')

In [69]:
type(my_tuple)

tuple

In [77]:
## Inbuilt functions

my_tuple.count('hello')

1

In [76]:
print(my_tuple)

('hello', 'world')

In [78]:
my_tuple.index('world')

1